extends layout

block layout-content
  div.container
      <label for="arquivo">Escolha um arquivo:</label>
      form(action="/lerconteudoarquivo" method="post" enctype="multipart/form-data")
        input(type="file", name="arquivo")
        br
        input(type="submit" value="Ler")

  if (conteudo)
    div.container
      textarea(name="area", cols="30", rows="10") #{conteudo}