extends layout

block layout-content
  div(class="title m-b-md") Explicaê
  div(class="links")
      a(href="/sorteio") Sorteio
      a(href="/arquivo") Leitor de Arquivo 
      a(href="/usuario") Usuario